h1{
    font-size: 1rem;;
    color: rgb(38, 36, 36);
    font-weight: bold;
}
p{
    font-size: 0.9rem;
    color: rgb(38, 36, 36);
}
.navbar .navbar-brand{
    font-size: 2rem;
    color:brown;
    font-weight: bold;
}
.collapse{
    height: 3rem;
}
.navbar-nav .nav-item{
    font-size: 1.4rem;
    margin-left: 0.6rem;
}
.navbar-nav .nav-item:hover{
    font-size: 1.4rem;
    margin-left: 0.6rem;
    color:brown;
}
.navbar-nav .nav-item:active{
    font-size: 1.4rem;
    margin-left: 0.6rem;
    color:brown;
}
.container .row{
    margin-top: 2rem;
}
.card{
    border:none !important;
}
